<a href="https://colab.research.google.com/github/AnkammaMaddineni/Maddineni_INFO5502_Summer2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [15]:
# write your answer here

samplestring = 'google.com'
def solve(samplestring):
  result = {}
  for x in samplestring:
    keys = result.keys()
    if x not in keys:
      result[x] = 1
    else:
      result[x] += 1
  return result

print(solve(samplestring))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (6 points)

In [10]:
# write your answer here

sample_list = [1,2,3,4,5]
def sum(sample_list):
  result = 0
  for i in sample_list:
    result = result + i
  return result
print(sum(sample_list))

15

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [9]:
# write your answer here

def change_char(samplestring):
  char = samplestring[0]
  new_string = samplestring.replace(char, '$')
  new_string = char + new_string[1:]

  return new_string

print(change_char('restart'))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [8]:
# write your answer here
a = 2
b = 4
S = 3.14*(1+a/b)**3
print("result of S is", S)

result of S is 10.5975

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}

dic4={**dic1,**dic2,**dic3}

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [6]:
# write your answer here

tuple = (1,2,3,4,5)

value = 3
if value in tuple:
    print(value, "exist")
else:
    print(value, "does not exist")

3 exist

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [5]:
# write your answer here
#max() and min() are used
set_1 = {2,4,6,8,10}
max_value = max(set_1)
print(max_value)
min_value = min(set_1)
print(min_value)

10
2

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [4]:
# write your answer here

def duplicate(arr):
    new_number = set()
    for number in arr:
        if number in new_number:
            return number
        else: 
            new_number.add(number)
    return -1

arr = [1,2,3,4,5,2]
print(duplicate(arr))

arr_4 = [1,2,3,4]
print(duplicate(arr_4))

2
-1